<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebar">
    <aside
            class="absolute z-10 flex flex-col w-64 p-6 transition-transform duration-300 ease-in-out bg-gray-900 sidebar md:relative md:translate-x-0 shrink-0">
        <div class="flex flex-col gap-8">
            <h1 class="text-xl font-bold text-white">Admin Panel</h1>
            <nav class="flex flex-col gap-4">
                <a th:href="@{/admin/dashboard}"  th:classappend="${activePage == 'dashboard'} ? 'bg-green-400 text-black font-semibold' : 'hover:bg-gray-800'"
                   class="flex items-center gap-3 px-4 py-2 rounded-lg">

                    <svg fill="currentColor" height="24px" viewBox="0 0 256 256" width="24px"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z">
                        </path>
                    </svg>
                    <span>Dashboard</span>
                </a>
                <a th:href="@{/admin/bus}" th:classappend="${activePage == 'buses'} ? 'bg-green-400 text-black font-semibold' : 'hover:bg-gray-800'"
                   class="flex items-center gap-3 px-4 py-2 rounded-lg">
                    <svg fill="currentColor" height="24px" viewBox="0 0 256 256" width="24px"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M208,64H160V56a24,24,0,0,0-24-24H120A24,24,0,0,0,96,56v8H48A16,16,0,0,0,32,80V192a16,16,0,0,0,16,16H80a16,16,0,0,0,16-16V176H160v16a16,16,0,0,0,16,16h32a16,16,0,0,0,16-16V80A16,16,0,0,0,208,64Zm-88-8a8,8,0,0,1,8-8h16a8,8,0,0,1,8,8v8H120ZM208,192H192V176a16,16,0,0,0-16-16H96a16,16,0,0,0-16,16v16H48V80H208Z">
                        </path>
                    </svg>
                    <span>Bus List</span>
                </a>
                <a th:href="@{/admin/routes}" th:classappend="${activePage == 'routes'} ? 'bg-green-400 text-black font-semibold' : 'hover:bg-gray-800'"
                   class="flex items-center gap-3 px-4 py-2 rounded-lg">
                    <svg fill="currentColor" height="24px" viewBox="0 0 256 256" width="24px"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M184,32H72A32,32,0,0,0,40,64V208a16,16,0,0,0,16,16H80a16,16,0,0,0,16-16V192h64v16a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16V64A32,32,0,0,0,184,32ZM56,176V120H200v56Zm0-96H200v24H56ZM72,48H184a16,16,0,0,1,16,16H56A16,16,0,0,1,72,48Zm8,160H56V192H80Zm96,0V192h24v16Zm-72-60a12,12,0,1,1-12-12A12,12,0,0,1,104,148Zm72,0a12,12,0,1,1-12-12A12,12,0,0,1,176,148Zm72-68v24a8,8,0,0,1-16,0V80a8,8,0,0,1,16,0ZM24,80v24a8,8,0,0,1-16,0V80a8,8,0,0,1,16,0Z">
                        </path>
                    </svg>
                    <span>Route List</span>
                </a>
                <a th:href="@{/admin/bookings}" th:classappend="${activePage == 'bookings'} ? 'bg-green-400 text-black font-semibold' : 'hover:bg-gray-800'"
                   class="flex items-center gap-3 px-4 py-2 rounded-lg">
                    <svg fill="currentColor" height="24px" viewBox="0 0 256 256" width="24px"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M227.19,104.48A16,16,0,0,0,240,88.81V64a16,16,0,0,0-16-16H32A16,16,0,0,0,16,64V88.81a16,16,0,0,0,12.81,15.67,24,24,0,0,1,0,47A16,16,0,0,0,16,167.19V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V167.19a16,16,0,0,0-12.81-15.67,24,24,0,0,1,0-47ZM32,167.2a40,40,0,0,0,0-78.39V64H88V192H32Zm192,0V192H104V64H224V88.8a40,40,0,0,0,0,78.39Z">
                        </path>
                    </svg>
                    <span>Booking List</span>
                </a>
            </nav>
        </div>
    </aside>
</th:block>
</html>